* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url('https://evaluasi.esakip.lampungprov.go.id/statis/settings/undraw_forgot_password_re_hxwm.svg'); /* Thay 'path_to_your_image.jpg' bằng đường dẫn thực tế */
    background-size: cover; /* Để ảnh nền bao phủ toàn bộ màn hình */
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */   
    font-family: Arial, sans-serif;
    color: black; /* Đặt màu chữ là trắng để dễ nhìn trên nền tối */
  }

  .tab-container {
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 100%;
    max-width: 400px;  /* Chiều rộng tối đa của tab */
    background: rgba(255, 255, 255, 0.7);  /* Nền sáng nhẹ với độ trong suốt */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  }

  .tab-header {
    display: flex;
    border-bottom: 1px solid #ddd;
  }

  .tab-header div {
    flex: 1;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  .tab-header .active {
    font-weight: bold;
    border-bottom: 3px solid blue; /* Active tab underline */
    color: blue;
  }

  .tab-content {
    padding: 20px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.6); /* Viền nhẹ để dễ nhìn */
    border-radius: 10px;  /* Tạo góc bo tròn */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Đổ bóng nhẹ */
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .send-btn {
    background-color: blue;
    color: white;
  }

  .back-btn {
    background-color: #6c757d;
    color: white;
  }

/* CSS cho thẻ thông báo */
#notification-popup, #notification-popup-err {
    display: none; /* Ẩn mặc định */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    color: white;
    padding: 10px 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
  }
  #notification-popup .close-btn, #notification-popup-err .close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  #notification-popup .close-btn:hover, #notification-popup-err .close-btn:hover {
    color: #ddd;
  }